<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327456366591-kmsdhvmq444okts3205lc8tbl7aqdno1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327456366591-kmsdhvmq444okts3205lc8tbl7aqdno1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>327456366591-2651arvrusp99n87d049ehmo185ltiq1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbEUElBKmi6FBQqn7jP71SQCm3-kqIcaY</string>
	<key>GCM_SENDER_ID</key>
	<string>327456366591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.univFestHost</string>
	<key>PROJECT_ID</key>
	<string>univ-fest-mobile-order</string>
	<key>STORAGE_BUCKET</key>
	<string>univ-fest-mobile-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327456366591:ios:cdb87d07c8cc07c40091ca</string>
	<key>DATABASE_URL</key>
	<string>https://univ-fest-mobile-order-default-rtdb.firebaseio.com</string>
</dict>
</plist>